
@import url("foundation.css");

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../../../../../themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../../../../../themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html, body
{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 22px;
    color: #333;
    -webkit-text-size-adjust: none;
    /* background-image: url(../images/bg.jpg); */
    background-image: -webkit-linear-gradient(180deg, #1978A7,#103A6B);
}
body *
{
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
    line-height: 1;
    color: #F0F0F0;
    font-weight: bold;
    margin: 3px 0 10px 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, textarea, input { font-family: 'Open Sans'; font-weight: normal; }

h1, h2, h3
{
    font-size: 18px;
}
h5, h6
{
    font-size: 14px;
}
h4
{
    font-size: 15px;
}
p
{
    margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
    color: #FDFDFD;
    text-decoration: underline;
}
pre
{
    font-size: 12px;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#page nav
{
    display: none;
}

#header,
.header,
#footer
{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 51px;
    height: 51px;
    /* padding: 0 50px; */
    /* opacity: 0.5; */
    /* border-radius: 20px 20px 0px 0px; */
    /* background: url(../images/fbg.jpg); */
}

.subHeader, .subFooter {
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0px 10px;
    position:relative;
    width: 100%;
    /* opacity: 0.6; */
    /* margin-top: 6px; */
    /* background: url(../images/fbg.jpg); */
    /* border-top: 1px solid #fff; */
}


.subHeader i.i-small { position: absolute; left: 16px !important; top: 11px !important; margin: 0px; }


#header a,
.header a
{
    background: url('fonts/icons.svg') no-repeat -21px -303px;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
}

#header a.backBtn
{
    background: url('fonts/icons.svg') no-repeat -97px -303px;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 0px;
    left: inherit;
}

#header a.friends,
.header a.friends
{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);
}
#header a.right,
.header a.right
{
    left: auto;
    right: 10px;
}
#content,
.content
{
    padding: 10px;
}

/*********************/

@media all and (min-width: 900px) {
    html, body {
        height: 100%;
    }
    #menu {
        /*background: #eee;*/
    }
    #page {

        min-height: 100%;
    }
    /* hide open-button */
    a[href="#menu"]
    {
        /*display: none !important;*/
    }
}

#Logo { height: 41px; display: inline-block; padding-top: 10px; line-height: 40px; }
#Logo.svg { padding:0px; }
#Logo.svg img { max-height: 70px; top: -9px; position: relative; }
#Logo img { max-height:40px; }

.bannerPane { text-align:center; overflow: hidden; }
.bannerPane img {  }

h3.title, h4.title {  border-bottom:1px solid #eee; padding-bottom:10px; }
h2.title{ font-weight: bold; margin-bottom:20px; }
.row h3.title, .row h2.title , .row h4.title { margin-top:0px; }

/*********** ICONS */
.i-pane  { width:65px; height:65px; position:relative; float: left; border-radius: 50%; text-align: center; margin-right:15px; }
.i-pane.i-blue { /* background-color:#587eac; */ }
.i-pane.i-green { background-color:#9eb74e; }
.i-pane.i-orange { background-color:#e0af50; }
.i-pane.i-red { background-color:#ff7a73; }

.c-blue { color: #587eac; }
.c-green { color: #9eb74e; }
.c-orange { color: #e0af50; }
.c-red { color: #ff7a73; }

i { /* background: url("fonts/icons.svg") no-repeat left top; */ display:inline-block; position:relative; font-size: 36px;}

/*i.i-phone { width:72px; height:72px; background: url(fonts/phoneicon.svg) no-repeat left top; top: 50%; left:50%; margin: -36px 0px 0px -65px; }*/
i.i-phone { width:72px; height:72px; background-position: 0px 0px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }
i.i-flexible { width:72px; height:72px; background-position: -72px 0px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }
i.i-neat { width:72px; height:72px; background-position: -144px 0px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }

i.i-home { width:72px; height:72px; background-position: 0px -72px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }
i.i-about { width:72px; height:72px; background-position: -72px -72px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }
i.i-blog { width:72px; height:72px; background-position: -144px -72px; top: 50%; left:50%; margin: -33px 0px 0px -65px; }
i.i-shortcodes { width:72px; height:72px; background-position: 0px -144px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }
i.i-gallery { width:72px; height:72px; background-position: -72px -144px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }
i.i-contact { width:72px; height:72px; background-position: -144px -144px; top: 50%; left:50%; margin: -36px 0px 0px -65px; }

i.i-home.i-small { width:19px; height:19px; background-position: -9px -225px; top: 3px; }
i.i-about.i-small { width:19px; height:19px; background-position: -49px -225px; top: 3px; left: 3px; }
i.i-blog.i-small{ width:19px; height:19px; background-position: -82px -225px; top: 3px; }
i.i-shortcodes.i-small { width:20px; height:19px; background-position: -116px -225px; top: 3px; }
i.i-gallery.i-small { width:20px; height:19px; background-position: -152px -225px; top: 3px; }
i.i-contact.i-small { width:20px; height:19px; background-position: -188px -225px; top: 3px; }

i.i-comments.i-small { width:16px; height:16px; background-position: -28px -388px; top: 3px; margin:0px 2px 0px 5px; }
i.i-author.i-small { width:16px; height:16px; background-position: -100px -388px; top: 3px; margin:0px 2px 0px 5px; }
i.i-calendar.i-small { width:16px; height:16px; background-position: -172px -388px; top: 3px; margin:0px 2px 0px 5px; }

i.i-small { margin: 0px 10px 0px 0px; left: 0px; }

.mainIconPane { display:inline-block; margin-bottom: 15px; }
.mainIconPane h4 { margin: 0px 0px 5px; }
.mainIconPane p { color:#979797; font-size:13px; }


.exploreSiteFullPane { padding: 0px; }
a.explorePane { text-decoration:none; /* background: url(../images/fbg.jpg); */ opacity: 0.7; border-radius: 10px; /* margin: 0px 2px 2px 2px; */}
.explorePane { width: 31.3333%; float: left; padding: 1%; /* border-bottom: 1px solid #837D7D; */ text-align: center; text-decoration:none; /* margin-left: 0px; */ margin: 0px 2px 5px 3px; box-shadow: 3px  3px 0px -1px #263035;}
.explorePane.middle { /* border-left: 1px solid #7C7979; */ /* border-right: 1px solid #7A7777; */ }

.explorePane .i-pane { float:none; margin:0px; display: inline-block; padding-top: 15px;}
.explorePane:active .i-pane, .explorePane:focus .i-pane, .explorePane:hover .i-pane, .explorePane.active .i-pane { /* background-color: #233241; */ }

.explorePane:active, .explorePane:focus, .explorePane:hover { cursor:pointer; }

.block { font-size:14px; font-weight:bold; background-color:#f1f2f4; text-align:center; padding:15px;
    border-top:1px solid #ccd2d8; border-bottom: 1px solid #ccd2d8; color:#233241; }

.o-page .mm-ismenu { background: rgb(0, 66, 126); /* background-image: url(../images/bg.jpg); */ opacity: 0.7;}
.o-page .mm-list > li { background-color: rgb(56, 137, 211); color: #FFF; }
.o-page .mm-menu.mm-vertical .mm-list .mm-panel { padding: 0px 0px 0px 40px !important; background-color: #0E1419 !important; }
.o-page .mm-menu.mm-vertical .mm-list .mm-panel li { background-color: #0E1419; border-bottom: 1px solid #233241; border-left: 1px solid #233241; }
.o-page .mm-menu > .mm-list { padding:0px; }
.o-page .mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.o-page .mm-menu .mm-list > li.mm-selected > span { background: rgb(92, 160, 223); color: #0E1419; }
.o-page .mm-menu .mm-list > li.mm-selected i.i-small { background-position-y: -260px; }
.o-page .mm-menu.mm-hassearch > .mm-panel { padding-top: 50px; }
.o-page .mm-menu .mm-search input { border: 0px; background: rgba(240, 238, 238, 1); color: rgba(211, 211, 211, 0.6); }
.o-page .mm-menu li.mm-noresults { text-align: center; font-size: 15px; display: none; padding: 10px; }
.o-page .mm-list > li > a,
.o-page .mm-list > li > span { line-height: 30px; padding: 10px 10px 10px 15px; text-decoration: none; }
.o-page .mm-list > li > a:hover { background: rgba(0, 0, 0, 0.1); }
.o-page .mm-list a.mm-subopen { padding:0px;}
.o-page .mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after { top: 20px; }
.o-page .mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen { height:50px; }
.o-page .mm-list a.mm-subclose { padding-top: 30px !important; }




/*********************************************************************************** ABOUT */
.o-team { display: inline-block; }
.o-team .o-team-person.opacity50 { opacity: 0.5; }
.o-team .o-team-person.opacity50.active { opacity: 1; }
.o-team .o-team-person { width: 32%; margin-top:10px; margin-left: 1%; text-align: center; float:left; margin-bottom: 20px; }
.o-team .o-team-person:hover { cursor: pointer; }
.o-team .o-team-person > img { max-width:80%; border-radius: 50%; padding:3px; background: #fff; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); }
.o-team .o-team-person h4 { font-size: 16px; color:#0e1419; margin:10px 0px 0px 0px; }
.o-team .o-team-person .h-line50 { border-bottom: 1px solid #dcdee0; margin: 10px 0px; width: 50%; position: relative; display: inline-block; }
.o-team .o-team-person p { font-size: 12px; color:#949494; margin-top: 0px; line-height: 1; }
.o-team .o-team-person .o-person-content { display:none; }
.o-person-details img { width:100%; }
.o-person-details h4 { font-size: 16px; color:#0e1419; margin:10px 0px 20px 0px; }
.o-person-details p { font-size: 12px; color:#949494; margin-top: 0px; line-height: 1; }

.o-person-details .a-skills { margin-bottom: 0px; border-bottom: 1px solid #DDD; padding-bottom: 10px; }

.chart { position: relative; display: inline-block; width: 110px; height: 110px; margin-top: 20px; margin-bottom: 50px; text-align: center; }
.chart canvas { position: absolute; top: 0; left: 0; }
.percent { display: inline-block; font-size: 30px; color: #777; z-index: 2; }
.percent:after { content: '%'; margin-left: 0.1em; font-size: .8em; }
.angular { margin-top: 100px; }
.angular .chart { margin-top: 0; }


/*********************************************************************************** BLOG */
article { padding-top:30px; margin-bottom:30px; border-top:1px solid #eee; }
article:first-child { border-top:0px; margin-top:0px; padding-top:0px; }
article h3 a, article h2 a { text-decoration:none !important; font-weight:bold; }
article h3 a:hover, article h2 a:hover { text-decoration:none; }
article p {}
article div.a-meta { font-size:11px; }
article div.a-meta > a { text-decoration:none; }
article img { width:100%; }

.article-comments {}
.article-comments > ul { padding:5px; }
.article-comments > ul  li { list-style:none; border-bottom: 1px solid #DDD; padding-bottom: 10px; margin-bottom: 10px; }
.article-comments > ul  li img { max-width:60px; padding:2px; background-color:#fff; border-radius:50%; float:left; border: 1px solid #DDD; margin: 10px 10px 10px 0px; }
.article-comments > ul  li p.c-a-name { font-size: 14px; margin:0px; }
.article-comments > ul  li p { margin:0px; }
.article-comments > ul  li .comment-date { font-size:12px;  }
.article-comments > ul  li p.desc { color:#999; }
.article-comments > ul > li > ul { padding-left:5px; }
.article-comments > ul > li > ul > li { background-color: #EEEFF1; padding: 5px 10px; margin-top: 10px; margin-bottom:0px; }

/*********************************************************************************** Gallery */

div.gallery-row:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
div.gallery-item.big-item { float: left; width: 50%; }
div.gallery-item { float: left; width: 33.33333333%; }
div.gallery-item a { display: block; margin: 3px; border: 1px solid #fff; color: #FFF; }
div.gallery-item img { display: block; width: 100%; height: auto; }

/*********************************************************************************** Contact */
.contactForm {  }
.contactForm label{ width:100%; margin-top:10px; float: left; }
.contactForm label .required { color:red; }
.contactForm #ContactName { background-color: #EBECEF; border: 1px solid #D7D9DB; padding: 3px 10px; height: 30px; color: #555; width: 90%; outline: none; }
.contactForm #ContactEmail { background-color: #EBECEF; border: 1px solid #D7D9DB; padding: 3px 10px; height: 30px; color: #555; width: 90%; outline: none; }
.contactForm #ContactMessage { background-color: #EBECEF; border: 1px solid #D7D9DB; padding: 10px; color: #555; width: 90%; outline: none; min-height: 80px; }
.contactForm #SubmitContact { background-color: #4D7EA2; color: #FFF; padding: 10px 15px; border: none; text-transform: uppercase; cursor:pointer; margin-bottom: 10px; }
.contactForm #SubmitContact:hover { background-color: #245070; }


/*********************************************************************************** Shortcodes */
.o-buttons { padding:5px 10px; font-size:12px; color:#fff !important; margin:3px; text-decoration:none !important; display:inline-block;}
.o-buttons.b-big { padding: 10px 20px; font-size: 16px; }
.o-buttons:hover { text-decoration:none; }
.o-buttons.blue { background: #587eac; }
.o-buttons.blue:hover { background: #233241; }

.o-buttons.red { background: #ff7a73; }
.o-buttons.red:hover { background: #c14f4c; }

.o-buttons.green { background: #9eb74e; }
.o-buttons.green:hover { background: #707c2c; }

.o-buttons.orange { background: #e0af50; }
.o-buttons.orange:hover { background: #c68a2a; }


.notifications { margin: 0 20px 0 20px; position: relative; margin-bottom: 10px; font-size: 1.5rem; /* box-shadow: 10px 3px #000; */ /* background-color: #2592BD; */ /* border-radius: 3px; */ border-bottom: 1px solid #A09A9A;}
.notifications i { background: url("../images/icons.png") no-repeat left top; display: inline-block; width:21px; height: 21px; position: absolute; right: 20px; top:50%; margin-top: -11px; }
.notifications.error { background-color: #feeeee; color:#e85252; }
.notifications.error i { background-position: -18px -900px; }
.notifications.success { color: #FFFFFF; }
.notifications.success i { background-position: -46px -900px; }
.notifications.warning { background-color: #fff8ee; color:#e5a30e; }
.notifications.warning i { background-position: -71px -900px; width: 25px; }
.notifications.info { background-color: #f6f6f6; color:#3c96af; }
.notifications.info i { background-position: -102px -900px; }

.socialMedia { padding: 10px 0px 0px 0px;  display: inline-block; width: 100%; text-align: center; }
.socialMedia.scl-grey { opacity: 0.7; /* border-radius: 0px 0px 10px 10px; */ width: 100%;  left: 0px;  bottom: 0px;  position: fixed; /* background: url(../images/fbg.jpg); */}
.socialMedia a { background: url("fonts/icons.svg") no-repeat left top; text-indent: -9999px; overflow: hidden; display: inline-block; margin-right: 5px; }

.socialMedia a { width:26px; height: 26px; color: rgba(0, 0, 0, 0); }
.socialMedia a:hover { opacity: 0.9; }
/** Color socials ICONS **/
.socialMedia a.ico-facebook { background-position: -16px -436px; }
.socialMedia a.ico-twitter { background-position: -43px -436px; }
.socialMedia a.ico-linkedin { background-position: -68px -436px; }
.socialMedia a.ico-gplus { background-position: -94px -436px; }
.socialMedia a.ico-youtube { background-position: -120px -436px; }
.socialMedia a.ico-tumblr { background-position: -146px -436px; }
.socialMedia a.ico-pinterest { background-position: -172px -436px; }

.socialMedia.scl-grey a.ico-facebook { background-position: -16px -465px; }
.socialMedia.scl-grey a.ico-twitter { background-position: -43px -465px; }
.socialMedia.scl-grey a.ico-linkedin { background-position: -68px -465px; }
.socialMedia.scl-grey a.ico-gplus { background-position: -94px -465px; }
.socialMedia.scl-grey a.ico-youtube { background-position: -120px -465px; }
.socialMedia.scl-grey a.ico-tumblr { background-position: -146px -465px; }
.socialMedia.scl-grey a.ico-pinterest { background-position: -172px -465px; }


#loader { background: rgba(88, 126, 172, 0.85); bottom: 0; height: 100%; left: 0; position: absolute; right: 0; top: 0; width: 100%; z-index: 9999; }
#loaderInner { left: 50%; margin: -50px 0 0 -62px; position: absolute; top: 50%; color: #fff; font-size: 25px; }
#loaderInner p { margin-left: 22px; font-size: 17px; }

html.mm-nooverflowscrolling.mm-opened .mm-page #header,html.mm-nooverflowscrolling.mm-opened .mm-page .socialMedia {border-radius: 0px;}


/*闂傚倸鍊搁崐鎼佸磹閹间礁纾归柟闂寸绾惧綊鏌熼梻瀵割槮缁炬儳缍婇弻鐔兼⒒鐎靛壊妲紒鐐劤缂嶅﹪寮婚悢鍏尖拻閻庨潧澹婂Σ顔剧磼閻愵剙鍔ょ紓宥咃躬瀵鎮㈤崗灏栨嫽闁诲酣娼ф竟濠偽ｉ鍓х＜闁绘劦鍓欓崝銈囩磽瀹ュ拑韬€殿喖顭烽幃銏ゅ礂鐏忔牗瀚介梺璇查叄濞佳勭珶婵犲伣锝夘敊閸撗咃紲闂佺粯鍔﹂崜娆撳礉閵堝洨纾界€广儱鎷戦煬顒傗偓娈垮枛椤兘骞冮姀銈呯閻忓繑鐗楃€氫粙姊虹拠鏌ュ弰婵炰匠鍕彾濠电姴浼ｉ敐澶樻晩闁告挆鍜冪床闂備浇顕栭崹搴ㄥ礃閿濆棗鐦遍梻鍌欒兌椤㈠﹤鈻嶉弴銏犵闁搞儺鍓欓悘鎶芥煛閸愩劎澧曠紒鈧崘鈹夸簻闊洤娴烽ˇ锕€霉濠婂牏鐣洪柡灞诲妼閳规垿宕卞▎蹇撴瘓缂傚倷闄嶉崝宀勫Χ閹间礁钃熼柣鏂垮悑閸庡矂鏌涘┑鍕姢鐞氾箓姊绘担鍛婃儓闁活厼顦辩槐鐐寸瑹閳ь剟濡存担鍓叉建闁逞屽墴楠炲啫鈻庨幘宕囶啇濡炪倖鎸鹃崳銉ノ涜濮婂宕掑▎鎴犵崲濠电偘鍖犻崗鐐☉閳诲酣骞嬮悙瀛橆唶闂備礁婀遍崕銈夈€冮幇顔剧闁哄秲鍔庣弧鈧梻鍌氱墛娓氭宕曢幇鐗堢厸闁告侗鍠氶崣鈧梺鍝勬湰缁嬫垿鍩ユ径鎰闁绘劕妯婂缁樹繆閻愵亜鈧垿宕曢弻銉﹀殞濡わ絽鍟悡姗€鏌熺€电浠滅紒鐘靛█濮婅櫣绮欓崠鈩冩暰濡炪們鍔屽Λ婵嬬嵁閸儱惟闁冲搫鍊搁埀顒€顭烽弻锕€螣娓氼垱楔闂佹寧绋掗惄顖氼潖閾忓湱纾兼俊顖氭惈椤酣姊虹粙璺ㄦ槀闁稿﹥绻傞悾鐑藉箣閻橆偄浜鹃柨婵嗛閺嬬喖鏌ｉ幘璺烘瀾濞ｅ洤锕、娑樷攽閸℃鍎繝鐢靛Л閸嬫挸霉閻樺樊鍎愰柣鎾冲暟閹茬顭ㄩ崼婵堫槯濠电偞鍨剁喊宥夘敃閼恒儲鍙忔慨妤€妫楁晶濠氭煕閵堝棙绀嬮柡宀€鍠撶槐鎺楀閻樺磭浜俊鐐€ら崑鍕箠濮椻偓瀵顓兼径濠勫幐婵炶揪绲介幉鈥斥枔閺屻儲鈷戠紓浣诡焽缁犳牗绻涢懠顒€鏋庢い顐㈢箳缁辨帒螣鐠囧樊鈧捇姊洪懞銉冾亪鏁嶅澶婄缂備焦顭囬崣鍡椻攽椤旀枻渚涢柛妯款潐缁傚秴顭ㄩ崼鐔哄弳闂佸搫鍟ù鍌炲吹濞嗘挻鐓涢悗锝冨妼閳ь剚顨堝Σ鎰板箳閹惧绉堕梺闈涱煭鐎靛苯螞閸愵喗鍊垫繛鍫濈仢閺嬬喖鏌熷灞剧彧闁逛究鍔戦崺鈧い鎺戝閻撳啴姊哄▎鎯х仩濞存粓绠栧楦裤亹閹烘繃顥栫紓渚囧櫘閸ㄦ娊骞戦姀鐘婵炲棙鍔楃粔鍫曟⒑閸涘﹥瀵欓柛鎰╁妿閸樻帡姊婚崒娆掑厡妞ゃ垹锕ラ幈銊╁Χ閸パ冪亰闁硅壈鎻徊浠嬪垂濠靛鐓涢柛灞惧喕缁扁晜绻涘顔绘喚闁轰礁鍊块弻娑樷槈閸楃偟浠╁Δ鐘靛仜閻楁挸顫忛搹瑙勫珰闁圭粯甯掑В鎰磽閸屾氨孝婵☆偅鐟х划瀣吋婢跺鈧鏌ｉ敐鍛板鐟滄澘妫楅—鍐Χ閸℃鐟ㄩ梺绋匡功閺佽鐣烽幋锕€绠婚柤鎼佹涧閺嬪倿姊洪崨濠冨闁告挻鐩棟闁靛鍎哄〒濠氭煏閸繂鏆欏┑鈥炽偢閺岀喖鎼归顒冣偓鍧楁煛娴ｇ懓濮嶉柟顔界懃椤斿繘顢欓幆褍姹查梻鍌欑婢瑰﹪宕戦崨顖涘床闁告洦鍨扮粈澶愭煥閺囨浜惧銈庝簻閸熷瓨淇婇崼鏇炲耿婵°倐鍋撴繛鍏煎灴濮婅櫣绮欏▎鎯у壉闂佸湱顭堥…閿嬩繆閻㈢绀嬫い鏍ㄨ壘瀹撳棗顪冮妶鍛婵☆偅鐟╁畷鎴ｎ槾缂佽鲸鎸荤粭鐔煎炊瑜庨悘宥夋⒑閼姐倕鏋傞柛搴ｆ暬瀹曟椽濮€閳╁啫鍔呴梺闈涱焾閸庢娊鎮炬ィ鍐╁仭婵犲﹤鍟撮崣鍕偓瑙勬礃閸旀瑩銆佸☉姗嗘僵闁挎繂妫欓弶鎼佹⒒娴ｈ櫣甯涢柨鏇楁櫊瀹曚即寮介鐔封偓鍫曞级閸稑濡跨紒鐘冲劤椤法鎹勬笟顖氬壋濠电偞褰冮悺銊╁Φ閸曨垰顫呴柨娑樺閳峰矂鎮楃憴鍕闁绘牕銈搁妴浣肝旈崨顓犲姦濡炪倖甯掔€氼參宕曞Δ浣风箚闁靛牆鎳忛崳娲煟閹惧瓨绀嬮柡灞界Ч閸┾剝鎷呴崨濠冾吘濠电偛顕慨鐢靛垝閹捐钃熼柨鐔哄Т閻掑灚銇勯幒宥堝厡妞も晝鍏橀幃妤呮晲鎼粹€茬敖闂佸憡顭堝Λ鍕煘閹达箑鐓￠柛鈩冾殘娴犳挳姊虹粙娆惧剱闁告梹顨婂顐︻敊鐏忔牗顫嶅┑鐐叉閸ㄥ綊顢欓弴銏♀拺闁荤喐婢橀弳閬嶆煕閵忥絽鐨洪柍褜鍓氶崙瑙勭閻愬搫绠查柕蹇嬪€曢獮銏′繆椤栫偞娅滅紒銊ヮ煼濮婃椽鏌呭☉妯虹ギ濠电偘鍖犻崟顓ф锤濠电姴锕ょ€氬嘲鈻撴禒瀣厽闁归偊鍓﹂崵鐔奉熆瑜忛弫鎼佸焵椤掑喚娼愭繛娴嬫櫇閹广垹鈹戠€ｎ亣鎽曢梺绯曞墲椤ㄥ繘宕ョ€ｎ喗鐓曢柍鈺佸暟閹冲啯顨ラ悙鑼ф慨濠傤煼瀹曟帒顫濋钘変壕闁归棿绀佺壕褰掓煙闂傚璐伴柡浣割儐閵囧嫰骞橀娑樻疅闂佹悶鍎洪崜姘跺疾濠靛鐓曢悘鐐插⒔閵嗘帡鏌涘Ο鍦煓婵﹪缂氶妵鎰板箳閹存粌鏋堥梻浣告啞閹稿爼宕濋幋锔藉亗妞ゆ帒瀚烽弫鍡涙煕閺囥劌澧伴柛妯绘倐閹宕楁径濠佸闂備線鈧偛鑻晶瀵糕偓瑙勬磻閸楁娊鐛鈧幊婊冣枔閹稿海绋愰梻鍌欑濠€閬嶅磿閵堝鈧啴宕ㄦ潏鍓х◤闂佸憡绋戦悺銊╂偂閻旈晲绻嗘い鏍ㄧ箖椤忕娀鏌ㄥ☉妯夹㈤棁澶嬬節婵犲倸鏆熼柛鈺嬬稻閹便劍绻濋崟顓炵闂佺懓鍢查幊姗€骞冮悜钘夌闁惧浚鍋嗘禍鐐烘⒒閸屾瑦绁伴柕鍡忓亾闂佺顑嗛幑鍥ь潖濞差亶鏁嗛柍褜鍓涚划鏃堝箻椤旂厧鐎梺绋跨灱閸嬬偤鎮￠弴鐔翠簻妞ゆ挾鍠庨悘銉︾箾閸涱啝鎴犳崲濞戙垹绀傞柤娴嬫櫅閳綊姊虹€圭媭娼愰柛銊ユ健楠炲啴鍩￠崘锝呬壕闁革富鍘煎瓭濡炪們鍎茬换鍫濐潖缂佹ɑ濯寸紒瀣劵閸╃偛鈹戦悙鍙夆枙闁告瑥鍟锝嗙節濮橆厽娅滄繝銏ｆ硾閿曘儵藟濠靛鈷戦柛鎾瑰皺閸樻盯鏌涢悩鐐戒沪缂併劏娅ｇ槐鎾诲磼濮橆兘鍋撴搴㈠闁哄被鍎辩壕濠氭煙閸撗呭笡闁稿﹦鏁婚弻銊モ攽閸℃侗鈧鏌＄€ｎ剙鏋涢柡灞界Ч閺屻劎鈧綆浜炴导宀勬⒑閸濆嫭婀伴柣鈺婂灦閻涱喖顫滈埀顒€顕ｉ崼鏇炵闁绘鍋ｉ崑鈩冪節閻㈤潧浠滈柣掳鍔庨崚鎺戭吋婢跺浜遍梺缁橆焾椤曆囨嫅閻斿摜绠鹃柟瀵稿仧閹冲嫰鏌涙惔锝呮灈闁哄本娲樼换娑㈠垂椤旂懓浜鹃柡宥庡幖缁愭鎱ㄥΟ鍨厫闁抽攱鍨块幃褰掑炊閿濆倸浜鹃柧蹇ｅ亞娴滎亝绻濋悽闈涗户闁靛棗顑囬幑銏犫攽鐎ｎ剙绁﹂梺鍛婂姂閸斿寮告惔銊︾厵闁割煈鍠栭弳鐐烘煛閸涱偄鐏叉慨濠呮缁瑩骞愭惔銏″缂傚倷绶￠崰姘箾閳ь剛鈧娲﹂崹閬嶅箚閺冨牆惟闁挎棁顫夌€氳棄鈹戦悙鑸靛涧缂佹彃娼″畷鏇㈠Χ婢跺﹤鎯為梺閫炲苯澧い顏勫暣婵″爼宕卞Ο渚П闂備礁鎲￠悷銉╁疮椤愶附鍋╅柣鎴ｆ缁狅綁鏌ㄩ弮鍥棄闁逞屽墰閸忔﹢寮婚敐澶婄闁诲繑妞挎禍顏勭暦濠婂牜鏁囬柕蹇婃閹疯櫣绱掔紒銏犲箹闁瑰啿绻楅妵鎰樄婵﹤顭峰畷鐔碱敃閵忊晙绱旈梻浣筋嚃閸ｎ垳鎹㈠┑瀣畺闁靛繈鍊曠粻褰掓煟閹邦厼顥嬮柣鈺侀叄濮婄粯鎷呯粵瀣秷閻庤娲橀敋闁崇粯鏌ㄩ埥澶娾枎閹搭厽绁梻浣瑰閺屻劑锝為弴鐔侯洸婵犲﹤鐗婇悡蹇擃熆閼哥數銆掗柛鎺嶅嵆閺岋綀绠涢弮鍌氬绩闂佸搫澶囬埀顒€纾弳鍡涙倵閿濆骸澧伴柨娑氬枑缁绘稓鈧數顭堥鎾剁磼閻樿櫕灏柣锝呭槻椤劑宕遍埡鍌傤亪姊绘担鍛婂暈閻㈩垱顨婇幆鍕敍濮樺吋缍庨梺鎯х箳閹虫挾鈧灚鐓￠弻锟犲炊閳轰焦鐎鹃梺缁樼箖濡啴寮婚敐鍡樺劅闁靛繈鍩勯弳鈥斥攽閻橆喖鐏柨鏇樺灲楠炲啴骞嗚閺嗗鏌熼柨瀣拹婵☆偄鍟悾鐑藉Ω閳哄﹥鏅╅梻鍌氬€搁悺銊╂儓韫囨稒鈷掗柛灞剧懅椤︼箓鏌熺拠褏纾块柟骞垮灲瀹曟帒鈹冮幆褌澹曞┑顔斤耿濡法鑺辨繝姘瀬闁割偆鍠嶇换鍡涙煏閸繃鍣洪柛锝嗘そ閺屽秹鏌ㄧ€ｎ亞浼岄梺鍝勭焿缂嶄線骞冮姀銏㈢煓婵炲棛鍋撻ˉ瀣⒒娴ｉ涓茬紓宥呮瀹曪綁宕橀鑹版憰濠电偞鍨崹瑙勫劔闂備線娼ч…顓犫偓闈涜嫰铻為柛鏇ㄥ灡閳锋垵霉閸忚偐鎳呴柟顔笺偢閺屾稖绠涢弬鍡╀邯閹箖鎮滈懞銉︽闂佺粯锚閸熷潡鍩€椤掑倸鍘撮柡灞界Ч瀹曨偊宕熼锛勬晼婵犵數鍋涢崥瀣潖閸︻厽宕叉繝闈涱儐閸嬨劑姊婚崼鐔衡棩缂侇喛娉涢埞鎴﹀煡閸℃ぞ绨奸梺鑽ゅ暱閺呮盯鎮鹃悿顖樹汗闁圭儤鎸告禒娲⒑閸撹尙鍘涢柛瀣噹閳绘捇鎮ч崼婊呯畾闂侀潧鐗嗙换鎺楀礆娴煎瓨鐓曢柣鏇氱閻忥箓鏌涢埡鍌滄创妤犵偞甯￠獮濠囧Ω閵壯呅ㄩ梺杞扮劍閸旀瑥鐣烽崼鏇炵濞达絿顭堟瓏婵犵绱曢崑鎴﹀磹閹达箑纾块弶鍫氭櫆瀹曞弶鎱ㄥ璇蹭壕閻庢鍠涢褔鍩ユ径濠庢僵闁挎繂鎳嶆竟鏇㈡⒑閹稿海绠撶紒銊ㄥ亹閼鸿鲸绺介崨濠勫幈闂佹寧绻傜€氼噣鎯屽▎鎾寸厸鐎光偓閳ь剟宕伴弽顓熷仒妞ゆ洍鍋撶€规洖缍婇、娆撳矗閵壯咁槱闂備浇顕у锕傦綖婢跺⊕鍝勵潨閳ь剟寮崘顔碱潊闁靛牆鍟犻崑鎾存媴缁洘鐎婚梺褰掑亰閸ｏ絽顬婇鈧娲川婵犲嫧妲堝銈庡弾閸樻儳危閹伴偊鏁嗛柛鏇ㄥ厴閹风粯绻涙潏鍓хК婵☆偄瀚板畷銉ㄣ亹閹烘挾鍘遍梺缁樏崯鎸庢叏瀹ュ鐓欐い鏃€鍎抽崢鏉戔攽閿涘嫭鐒挎い锔诲櫍閺屾稓鈧綆鍋呯亸顓熴亜椤愶絿绠炲┑锛勫厴婵＄兘濡烽閿亾鐎靛摜纾介柛灞剧懅椤︼箓鏌涙繝鍌涙喐缂侇喗妫冮獮姗€顢欓崗澶婁壕闁挎洖鍊告儫闂佸疇妗ㄧ欢姘跺船閸洘鈷戦梻鍫熺〒缁犲啿鈹戦纰卞殶鐎垫澘锕ョ缓浠嬪川婵炵偓瀚藉┑鐐舵彧缂嶁偓妞ゎ偄顦靛畷鎴︽偐缂佹鍘遍柟鍏肩暘閸ㄥ鎯岀仦鐭綊鎮崨顖滄殼闂佸湱顭堥敃銉ヮ嚗閸曨剛绡€閹兼番鍩勫Λ鍫ユ⒒閸屾艾鈧悂宕愰幖浣哥９濡炲娴烽惌鍡椼€掑锝呬壕濡ょ姷鍋涢ˇ鐢稿垂閹岀唵闁告洦鍓涘ú瀛橆殽閻愬樊鍎旈柟顔规櫊瀹曟宕妷褎鍠掗梻鍌氬€峰ù鍥綖婢跺﹦鏆︽慨妞诲亾妞ゃ垺淇洪ˇ褰掓煙闁垮鐏撮柟顔哄灲瀹曟鎳栭埡浣告辈濠电姷鏁搁崑鐐哄垂閸洘鏅俊鐐€曢弲顖炲礋椤撶媭鍟庨柣搴″帨閸嬫挸鈹戦悩杈╃獢闁稿顨婂娲传閸曨厾鍔圭紓鍌氱С缁舵艾顕ｉ锕€绠涢柡澶婄仢缁愭稑顪冮妶鍡欏缂佸鍨剁粋鎺楀箻椤旇В鎷绘繛鎾村焹閸嬫挻绻涙担鍐叉瘽閵娾晛鐒垫い鎺戝閸嬶綁鏌熼柇锕€鏋涢柡瀣灩缁辨帡宕掑姣欍垺銇勯婊冨鐎规洏鍔戦、娆撳礂閼测斁鍋撴ィ鍐╃厽閹肩补鈧啿杈呴梺绋款儐閹瑰洭寮诲鍫闂佸憡鎸婚悷鈺呭春閵忊剝鍎熼柕濞垮労濞煎﹪姊虹紒妯兼喛闁稿鎸荤换娑氫焊閺嶃劍鐝氶梺璇″枤閹虫挾鍙呭銈呯箰濡稓绮ｅΔ鍛拺缁绢厼鎳庤濠电偛寮堕悧鐘诲春閻愬搫绠ｉ柨鏃囨閳ь剛鍏橀弻鈩冨緞鐎ｎ亞浠兼繛瀵稿閸ャ劉鎷洪梺纭呭亹閸嬫稒淇婇崗鑲╃瘈闁逞屽墯濞煎繘鍩℃担鍝ヤ喊缂傚倸鍊烽悞锕傗€﹂崶鈺佸К闁逞屽墮閳规垿顢欓弬銈勭返闂佸憡锕㈢粻鏍х暦閵忋倕纭€闁绘劏鏅滈弬鈧梺鍦劋婵炲﹤鐣烽幇鏉垮嵆闁靛繒濮烽弻鍫濐渻閵堝棗濮х紒鎻掓健閵嗗懘鏌ㄧ€ｎ剛鐦堟繝鐢靛Т閸婃悂顢旈妷銉冪懓顭ㄩ崟顓犵厑闂侀潧娲ょ€氫即鐛崶顒€鐓涘ù锝堟〃閻ヮ亪姊绘担鐑樺殌闁告艾顑夊畷婵嗏枎閹惧磭顔戦梺鍓插亝濞叉牠宕橀埀顒€顪冮妶鍡樺暗闁哥姵鎹囧畷銏ゆ寠婢跺棙鏂€濡炪倖鏌ㄩ～鏇熺濠婂牊鐓曢悗锝庡亝鐏忔壆绱掔紒妯尖姇闁瑰嘲鎳樺畷姗€骞撻幒婵呯磻婵＄偑鍊愰弲鐘诲绩鏉堚晜宕叉繝闈涙川缁♀偓闂佺鏈粙鎴濃枍瑜忕槐鎺楁倷椤掆偓缁€鍐煕鐎ｎ偄濮夋俊鍙夊姍楠炴鈧稒锚椤庢捇姊虹拫搴℃媼閻掗箖鏌涘▎鎰婵﹥妞藉畷妤呮偂鎼搭喒鍋撳鍕濠㈣泛顑嗙粈瀣煕閳规儳浜炬俊鐐€栫敮濠勬閿熺姴鐤煫鍥ㄧ⊕閻撴洟鏌ㄥ┑鍡涱€楁繛鍛Ф閳ь剝顫夊ú姗€宕归崜浣瑰床婵犻潧顑呴悙濠囨煃鏉炴媽鍏岄柕鍫檮缁绘繄鍠婂Ο娲绘綉闂佹悶鍔庨弫璇茬暦閹达箑绠涙い鏃傗拡濡粓姊虹粙璺ㄧ婵☆偉娉曢幑銏ゅ幢濡晲绨婚梺鍝勭Р閸斿酣鎯屽畝鍕仺妞ゆ牗绋撻埊鏇㈡煏閸パ冾伂缂佺姵鐩鎾倷鐎甸晲閭┑鐘愁問閸犳牠鏁冮敂鎯у灊妞ゆ牜鍋涚粻顖炴煕濞戞鎽犻柛銈呯Ч閺屾洘绔熼娆掝唹闁稿鎸荤换婵嬪炊閵娿垺瀚奸梻鍌氬€搁悧鍐疾濠靛牏鐭撻柛鎾茶兌绾惧ジ鏌ｅΟ鎸庣彧鐎规洖鐭傞弻锝呪槈閸楃偞鐏曠紓浣哄У缁嬫垿鍩ユ径濞炬瀻闁归偊鍙庢禒褔姊婚崒娆愮グ婵炲娲熷畷鎶芥晝閸屾氨顔嗛梺璺ㄥ櫐閹凤拷*/
.list-items {margin-bottom: -1px;}
.list-item { background: none repeat scroll 0 0 #FFFFFF; /* border-bottom: 1px solid #D2D2D2; */  min-height: 60px; padding: 10px 0; position: relative;}
.link_area { bottom: 0;  left: 0;  position: absolute;right: 0;  top: 0;z-index: 2;}
.list-item-pic {background: none repeat scroll 0 0 #EFEFEF;  height: 60px; left: 10px;  position: absolute;  top: 10px; width: 65px;}
.list-item-infos { margin: 0 90px;position: relative;}
.list-item-address {left: 0; position: absolute; top: 40px;width: 240px;}
.s_aim_s { background-position: -94px 0;height: 11px; width: 10px;}
.list-item-address .s_aim_s { margin-right: 4px; position: relative; top: 4px; vertical-align: top;}


.list-item{position:relative;min-height: 80px;padding: 10px 0px;margin: 10px;/* border-bottom:1px solid #d2d2d2; */opacity: 0.7;border-radius: 10px;background-color: #004788;margin-bottom: 10px;box-shadow: 0px 2px rgb(32, 27, 27);}
.list-item-pic{position:absolute;left:10px;top:10px;width:65px;height:60px;background:#efefef;}
.list-item-infos{position:relative;margin:0 90px;}
.list-item-title,.list-item-tags,.list-item-address,.list-item-address1{font-size:12px;line-height:20px;}
.list-item-title{width:140px;font-size:14px;font-weight:700;color: #FFFFFF;}
.list-item-hot{display:inline-block;font-size:12px;color:#f60;}
.list-item-address{position:absolute;top:40px;left:0;width:240px;color: #fff;}
.list-item-address1{position:absolute;top:20px;left:0;width:240px;color: #fff;}
.list-item-address .s_aim_s,.list-item-address1 .s_aim_s{position:relative;top:4px;margin-right:4px;vertical-align:top;}
.list-item-price{position:absolute;top:50%;right:10px;z-index:3;margin-top:-29px;line-height:20px;}
.list-item-price.price_none{margin-top:-10px;}
.list-item-price .gray{font:400 14px "Microsoft Yahei",Arial,sans-serif;}
.item_fun{width:68px;height:58px;text-align:center;}
.item_fun .item_price{height:34px;line-height:34px;}
.item_price .price{font-size:10px;}
.item_price .price em{font-size:12px;}
.item_price .price strong{font-size:24px;}
.item_fun .item_order{height:24px;line-height:24px;}
.item_fun_none{display:block;padding-top:19px;}
.item_fun.orange{color:#fff;}
.item_fun.orange .item_price{height:33px;border:1px solid #e96300;border-bottom:none;line-height:32px;background:#ff8400;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.item_fun.orange .item_order{height:22px;border:1px solid #e96300;border-top-color:#e27500;line-height:22px;background:#ef7c00;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
.list_item_interleave{background:#f5fcfd;}
.ckbox{width: 48px;height: 40px}
.book_now {z-index:9999;/* border-bottom: 1px solid rgb(56, 137, 211); */padding:12px 0 8px;text-align:center;cursor:pointer;/* background: rgb(56, 137, 211); */background:-moz-linear-gradient(top,#f1f1f1,#c8c8c8);background:linear-gradient(top,#f1f1f1,#c8c8c8);/* opacity: 0.7; */}
.book_now a {display:inline-block;font:24px/38px microsoft yahei;color:#fff;padding:0 46px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:1px 1px 2px rgba(168,168,168,1);box-shadow: 1px 1px 2px rgba(9, 8, 8, 1);background: rgb(0, 112, 214);background:-moz-linear-gradient(top,#ff812d,#ff6702);background:linear-gradient(top,#ff812d,#ff6702);text-decoration: none;}
.book_new {padding-left: 0;padding-right:0}
.book_new a {display:block;line-height:41px;text-align:center;color:#fff;background:-webkit-linear-gradient(top,#ffa442,#ff801a);background:-webkit-gradient(linear,left top,left bottom,from(#ffa442),to(#ff801a));background:-moz-linear-gradient(top,#ffa442,#ff801a);background:-ms-linear-gradient(top,#ffa442,#ff801a);background:linear-gradient(top,#ffa442,#ff801a)}
.book_new #travelbooksub {display:block;line-height:41px;width: 100%;height:41px;border: 0 none;text-align:center;color:#fff;background:-webkit-linear-gradient(top,#ffa442,#ff801a);background:-webkit-gradient(linear,left top,left bottom,from(#ffa442),to(#ff801a));background:-moz-linear-gradient(top,#ffa442,#ff801a);background:-ms-linear-gradient(top,#ffa442,#ff801a);background:linear-gradient(top,#ffa442,#ff801a)}
.book_new .forinput {display:block;line-height:41px;width: 100%;height:41px;border: 0 none;text-align:center;color:#fff;background:-webkit-linear-gradient(top,#ffa442,#ff801a);background:-webkit-gradient(linear,left top,left bottom,from(#ffa442),to(#ff801a));background:-moz-linear-gradient(top,#ffa442,#ff801a);background:-ms-linear-gradient(top,#ffa442,#ff801a);background:linear-gradient(top,#ffa442,#ff801a)}


.star {
    display: inline-block;
    width: 66px;
    height: 12px;
    vertical-align: middle;
    background: url(../images/remark.png) no-repeat;
    background-size: 86px auto
}

.star.star-0 {
    background-position: 0 -334px
}

.star.star-10 {
    background-position: 0 -317px
}

.star.star-20 {
    background-position: 0 -300px
}

.star.star-30 {
    background-position: 0 -283px
}

.star.star-35 {
    background-position: 0 -266px
}

.star.star-40 {
    background-position: 0 -249px
}

.star.star-45 {
    background-position: 0 -232px
}

.star.star-50 {
    background-position: 0 -215px
}

.big-star {
    display: inline-block;
    width: 92px;
    height: 16px;
    vertical-align: middle;
    background: url(../images/remark.png) no-repeat;
    background-size: 86px auto
}

.big-star.star-0 {
    background-position: 0 -175px
}

.big-star.star-10 {
    background-position: 0 -154px
}

.big-star.star-20 {
    background-position: 0 -133px
}

.big-star.star-30 {
    background-position: 0 -112px
}

.big-star.star-35 {
    background-position: 0 -91px
}

.big-star.star-40 {
    background-position: 0 -70px
}

.big-star.star-45 {
    background-position: 0 -49px
}

.big-star.star-50 {
    background-position: 0 -28px
}

